[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/mackyle/sqlite
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "third_party/log4z"]
	path = third_party/log4z
	url = https://github.com/zsummer/log4z
[submodule "third_party/websocketpp"]
	path = third_party/websocketpp
	url = https://github.com/zaphoyd/websocketpp
